@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
:root{
    --header-height: 3rem ;
    /*========== Colors ==========*/
    /* Change favorite color */
    --hue-color: 220; /*Purple 250 - Green 142 - Blue 230 - Pink 340*/
    /* HSL color mode */
    --first-color:hsl(var(--hue-color),69%,61%);
    --first-color-second:hsl(var(--hue-color),69%,61%);
    --first-color-alt:hsl(var(--hue-color),57%,53%);
    --first-color-lighter: hsl(var(--hue-color),92%,85%);
    --title-color: hsl(var(--hue-color),8%,15%);
    --text-color: hsl(var(--hue-color),8%,45%);
    --text-color-light: white;
    --input-color: black;
    --body-color: hsl(var(--hue-color),60%,99%);
    --container-color: #FFF ;
    --scroll-bar-color: hsl(var(--hue-color),12%,90%);
	--scroll-thumb-color: hsl(var(--hue-color),12%,80%); 
	--red:#ff3838;
	--popular-box-color: pink;
	--star-color: red;
}

*{
  font-family: 'Nunito', sans-serif;
  margin:5; padding:5;
  box-sizing: border-box;
 /* outline: none; border:none;
  text-decoration: none;*/
  text-transform: capitalize;
  transition:all .2s linear;
}

*::selection{
  background:var(--red);
  color:#fff;
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}

body{
	margin: 0px;
	padding: 0px;
	font-family: satisfy;
	background-color: var(--body-color);

}

*{
	box-sizing: border-box;
  text-transform: capitalize;
  transition:all .2s linear;
}

ul{
	list-style: none;
}

a{
	text-decoration: none;
}

nav{
	width: 100%;
	z-index: 100;
	box-shadow: 2px 2px 30px var(--input-color);
}

h1{
	color: var(--title-color);
	text-align: center;
	font-size: 40px;
}

#categories h2{
	color: var(--text-color);
}

.social-call{
	height: 40px;
	
	display: flex;
	justify-content: center;
	text-align: center;
}

.social a{
	margin: 0 5px;
	color: var(--text-color);
	font-size: 4rem;
}

.phone{
	margin-left: 30px;
	color: var(--text-color);
	font-size: 4rem;
}

.social a:hover{
	color: #0b9d8a;
	transition: all ease 0.3s;
}
.navigation{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 45px;
}

.logo img{
	height:80px;
}

.menu{
	display: flex;
}

.menu li{
	position: relative;
	margin: 20px;
	display: flex;
	text-transform: UPPERCASE ;
	font-weight: 500;
}

.menu li a{
	color: red;
	font-size: 2rem;
}

.p-name{
	font-size: 2rem;
}

.right-menu a{
	margin: 0 10px;
	font-size: 2rem;
	color: red;
}

.menu a:hover,
.right-menu a:hover,
.search-cancel:hover,
.form-cancel:hover{
	color: blue;
	transition: all ease 0.3s;
}

.sale-label{
	width: 38px;
	height: 17px;
	background-color: #f76b6a;
	color: white;
	font-weight: 400;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1rem;
	text-transform: uppercase;
	top: -20px;
	right: -20px;
	position: absolute;
}

.sale-label:after{
	content: '';
	width: 0;
	height: 0;
	border-bottom: 5px solid transparent;
	border-top: 7px solid #f76b6a;
	border-right: 5px solid transparent;
	border-left: 3px solid transparent;
	position: absolute;
	left: 10%;
	top: 100%;
}


.num-cart-product{
	position: fixed;
	top: -17px;
	right: -17px;
	width: 25px;
	height: 25px;
	font-size: 0.8rem;
	border-radius: 50%;
	background-color: #0b9d8a ;
	color: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 400;
}

.search-bar{
	height: 300px;
	width: 100%;
	position: fixed;
	background-color: #ffffff;
	left: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	box-shadow: 2px -5px 30px rgba(0,0,0,0.1);
	z-index: 101;
}

.search-input{
	width: 90%;
	display: flex ;
	justify-content: center;
	border-bottom: 2px solid #555555;
	height: 100px;
	margin-top: 20px;
	align-items: center ;
}

.search-bar input{
	width: 100%;
	padding: 30px;
	border: none;
	outline: none;
	font-size: 3rem;
	margin: 20px;
	padding: 0 20px;
	animation: search 0.3s;
}

.search-cancel{
	color: brown;
	font-size: 3rem;
	padding: 40px;
}

.search-bar{
	display: none;
}

.search-bar-active{
	display: flex;
}

@keyframes search{
	0%{
		bottom: -300px;
	}
	100%{
		bottom: 0px;
	}
}

.form{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.2);
	justify-content: center;
	align-items: center;
	flex-direction: column;
	z-index: 102;
	display: flex;
}

.login-form,
.sign-up-form{
	width: 420px;
	padding: 20px 10px;
	background-color: #ffffff;
	display: flex;
	box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border-radius: 5px;
	position: relative;
}

.login-form form,
.sign-up-form form{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
}

.login-form strong,
.sign-up-form strong{
	color: #272727;
	font-size: 3rem;
	margin: 2px 7px 7px 7px;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	font-weight: 500;
}

.login-form input,
.sign-up-form input{
	width: 90%;
	height: 45px;
	margin: 6px 0;
	padding: 0 10px;
	border: 1 solid rgba(0,0,0,0.1);
	outline: none;
	border-radius: 7px;
}


.login-form input::placeholder,
.sign-up-form input::placeholder{
	color: rgba(0,0,0,0.5);
}

.login-form input[type="submit"],
.sign-up-form input[type="submit"]{
	background-color: #0b9d8a;
	color: #ffffff;
	border: none;
	outline: none;
	text-transform: uppercase;
	margin-top:10px;
	border-radius: 3px;
	box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
	
}

.form-btns{
	width: 90%;
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
	align-items: center;

}

.form-btns a{
	color: #4d4d4d;
	font-size: 1.5rem;
}
.sign-up-btn{
	border-bottom: 1px solid #868686;
	line-height: 16px;
}

.form-cancel{
	position: absolute;
	right: 20px;
	top: 10px;
	color: #868686;
}
.login-form,
.sign-up-form,
.form{
	display: none;
}

.login-active,
.login-active .login-form{
	display: flex;
	animation: fade 1s;
}

.sign-up-active,
.sign-up-active .sign-up-form{
	display: flex;
	animation: fade 1s;
}

@keyframes fade{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}

.full-slider-box,
.banner-box{
	width: 100%;
	height: 70vh;
	display: flex;
	justify-content: center ;
	align-items: center;
	background-size: cover ;
	background-repeat: no-repeat;
	background-position: center;
}

.f-slide-1{
	background-image: url(banh8.jpg);
}
.f-slide-2{
	background-image: url(banh6.jpg);
}



.slider-text-container,
.banner-text-container{
	width: 80%;
	height: 90%;
	display: flex;
	align-items: center ;
}

.f-slider-text-1,
.banner-text-1{
	display: flex;
	flex-direction: column;
	margin-right: auto;
}

.f-slider-text-1 strong,
.banner-text-1 strong{
	color: #333333;
	font-size: 5rem;
	line-height: 55px;
	margin-top: 10px;
	letter-spacing: 1px;
}

.f-slider-text-1 span,
.banner-text-1 span{
	text-transform: uppercase;
	letter-spacing: 6px;
	font-weight: 500;
	font-size: 3.5rem;
	color: red;
}

.f-slider-btn,
.banner-btn{
	width: 190px;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #ffffff;
	text-transform: uppercase;
	letter-spacing: 3px;
	background-color: #0b9d8a ;
	margin-top: 14px;
	font-size: 2rem;
}

.f-slider-text-2 font{
	color: white ;
}

.f-slider-text-2{
	display: flex;
	flex-direction: column;
	margin-right: auto;
}

.f-slider-text-2 strong{
	color: yellow;
	font-size: 5rem;
	line-height: 55px;
	margin-top: 10px;
	letter-spacing: 1px;
}

.f-slider-text-2 span{
	text-transform: uppercase;
	letter-spacing: 6px;
	font-weight: 500;
	font-size: 3.5rem;
	color: yellow;
}


.f-slider-text-1 font{
	color: red ;
}

.tu-noi{
	color: var(--text-color);
	text-align: center;
	font-size: 35px;
}

.feature-heading{
	display: flex;
	justify-content: center;
	align-items: center;

}

.feature-heading h2,
.arrival-heading h2{
	font-size: 4.5rem;
	color: red;
	letter-spacing: 1px;
	text-transform: capitalize;
	font-weight: 600px;
	/*margin-top: 40px;*/
	/*padding: 5px 30px;*/
	/*border: 1px solid #e0e0e0;*/
	text-align: center;
}

.arrival-heading h2 p{
	text-align: center;
	color: red;
	font-size: 3rem;
}

.feature-box{
	height: 310px;
	width: 310px;
	margin: 0 22px;
	border-radius: 10px;
	overflow: hidden;
}

.feature-box a img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: cover;
}

#autoWidth .item span{
	font-size: 2.5rem;
	font-weight: 600;
	margin: 5px;
	color: red;
}


.item{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction:column;
}

#autoWidth{
	display: flex;
	justify-content: center;
	margin: 10px auto 40px auto;
}

.arrival-heading{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction:column;
}

.arrival-heading strong{
	color: #ffffff;
	background-color: #202020;
	font-weight: 500;
}

.arrival-heading p{
	color: #808080;
	margin: 10px;
	font-size: 1.8rem;
}

.product-container{
	width: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin-top: 20px;
}

.product-box{
	display: flex;
	flex-grow: 0.5;
	flex-direction: column;
	align-items: center;
	border: 1px solid #f7f7f7;
	border-radius: 10px;
	margin: 20px;
}

.product-img{
	width: 200px;
	height: 210px;
	margin: 20px;
	cursor: pointer;
	position: relative;
}

.product-img img{
	width: 100%;
	height: 100%;
	object-fit: contain;
	object-position: center;
}

.product-details{
	flex-direction: column;
	align-items: center;
	display: flex;	
	width: 100%;
	padding: 10px 20px;
	border-top: 1px solid #f3f3f3;

}

.product-details span,
.product-details a{
	color: var(--text-color);
}

.p-name{
	color: #727272;
}

.p-price{
	font-size: 2rem;
	font-weight: 400;
	color: #333333;
}

.product-box:hover{
	box-shadow: 2px 2px 30px rgba(0,0,0,0.07);
}

.add-cart{
	position: absolute;
	right: -20px;
	top: 0px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	display:flex ;
	align-items: center;
	justify-content: center;
	color: #ffffff;
	background-color: #0b9d8a;
	box-shadow:2px 2px 30px rgba(0,0,0,0.1);
	display: none;
	animation: fade 0.6s;
}	

.add-cart:hover{
	background-color: #f76b6a;
	transition: all ease 0.3s;
}


.product-box:hover .add-cart{
	display: flex;
}

.new-arrival{
	flex-direction: column;
	align-items: center;
	display: flex;
	justify-content: center;
}

.sale{
	width: 95%;
	display: flex;
	align-items: center;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: 20px auto;
}

.sale-box{
	width: 280px ;
	border-radius: 20px;
	margin: 20px;
	position: relative;
}

.sale-box img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center right;
}

.sale-text{
	position: absolute;
	left: 20%;
	top: 50%;
	display: flex;
	transform: translate(-20%,-50%);
	flex-direction: column;
	color: white;
}

.sale-box a{
	color: #1b1919;
}

.sale-text strong{
	font-size: 2rem;
	font-weight: 500;
	width: 80%;
	line-height: 23px;
}

.banner-box{
	height: 40vh;
	margin: 20px 0px;

}

.services{
	display: flex;
	width: 90%;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin: auto;
}

.services-box{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border: 1px solid var(--text-color);
	min-width: 250px;
	padding: 20px;
	margin: 15px;
	flex-grow: 0.7;
}

.services-box i{
	color: #0b9d8a;
	font-size: 3.2rem;
	margin: 15px;
}

.services-box span{
	font-size: 2.2rem;
	font-weight: 600;
	letter-spacing: 0.5px;
	color: var(--text-color);
}

.services-box p{
	margin: 0;
	font-size: 1.5rem;
	color: var(--text-color);
}

footer{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	border-top: 1px solid var(--text-color);
	flex-wrap: wrap;
	margin-top: 20px;
}	

.copyright{
	font-size:1.7rem;
	color: var(--text-color);
	letter-spacing: 1px;
	text-align: center;
}

.subscribe input{
	width: 240px;
	height: 43px;
	padding: 0 20px;
	border: 1px solid black;
	outline: none;
	box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
}

.subscribe input[type="submit"]{
	width: 120px;
	background-color: #0b9d8a;
	color: white;
	margin: 0 5px;
}

.fix-nav{
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: black ;
	box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.05);
	z-index: 102;
}	
.toggle{
	display: none;
}




.item span{
	font-size: 1.5rem;
	font-weight: 400;
	margin: 5px;
	color: #444444;
}

.item{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction:column;

}
}

@media(max-width: 600px){
	.navigation{
		padding: 40px;
	}

	.f-slider-text-1 strong,
	.banner-text-1 strong{
		font-size: 2rem;
		line-height: 25px;
	}
	.f-slider-text-2 strong{
		font-size: 2rem;
		line-height: 25px;
	}

	.full-slider-box,
	.banner-box{
		height: 30vh;
	}

	.f-slider-text-1 span,
	.banner-text-1 span{
		font-size: 1.5rem;
		
	}
	.f-slider-text-2 span{
		font-size: 1.5rem;
	}
	.f-slider-btn,
	.banner-btn{
		width: 120px;
		height: 40px;
		font-size: 1rem;

	}

	.feature-heading h2{
		font-size: 2rem;
	}
	.feature-box{
		width: 80px;
		height: 80px;
	}
	.new-arrival strong,
	.feature-heading strong{
		font-size: 2rem;
	}
	.new-arrival p,
	.feature-heading p{
		font-size: 2rem;
		text-align: center;
		font-size: satisfy;
	}

	.sale-box{
		width: 100%;
		height: 180px;
	}

	.sale{
		width: 100%;
	}
	.services{
		width: 100%;

	}
	.services-box{
		width: 100%;
	}ser

	.copyright,
	.social-call{
		margin: 20px 0px;
		text-align: center;
	}

	.subscribe{
		width: 100%;
	}

	.subscribe form{
		flex-wrap: nowrap;
		display: flex;
		width: 100%;
	}

	.subscribe input{
		width: 100%;
		flex-grow: 1;
	}

	.login-form,
	.sign-up-form{
		width: 90%;
	}



}

::-webkit-scrollbar{
	width:.8rem;
	background-color: hsl(220,30%,90%);
	border-radius: .5rem;
}


::-webkit-scrollbar-thumb{
	background-color: hsl(250,60%,80%);
	border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover{
	background-color: grey;
}
body.dark-theme{
    --first-color-second:hsl(var(--hue-color),30%,8%);    
    --title-color: hsl(var(--hue-color),8%,95%);
    --text-color: white;  
    --input-color: red;
    --body-color: hsl(var(--hue-color),28%,12%);
    --container-color: hsl(var(--hue-color),29%,16%);
    --text-color-light: black;
    --popular-box-color: black ;
    --star-color: yellow;
}


.heading{
  text-align: center;
  font-size: 4.2rem;
  padding:1rem;
  color:#666;
}

h3{
	text-color: var(--text-color);
}
.heading span{
  color:var(--red);
}


.speciality .box-container{
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
}

.speciality .box-container .box{
  flex:1 1 30rem;
  position: relative;
  overflow: hidden;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
  border:.1rem solid rgba(0,0,0,.3);
  cursor: pointer;
  border-radius: .5rem;
}

.speciality .box-container .box .image{
  height:100%;
  width:100%;
  object-fit: cover;
  position: absolute;
  top:-100%; left:0;
}

.speciality .box-container .box .content{
  text-align: center;
  background:var(--text-color-light);
  padding:2rem;
}

.speciality .box-container .box .content img{
  margin:1.5rem 0;
}

.speciality .box-container .box .content h3{
  font-size: 2.5rem;
  color:var(--input-color);
}

.speciality .box-container .box .content p{
  font-size: 1.6rem;
  color:var(--title-color);
  padding:1rem 0;content
}

.speciality .box-container .box:hover .image{
  top:0;
}

.speciality .box-container .box:hover .content{
  transform: translateY(100%);
}

section{
  padding:2rem 9%;
}

.box{
	width: 50%;
	height: 50%;
}

.steps{
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
  padding:1rem;
}

.steps .box{
  flex:1 1 25rem;
  padding:1rem;
  text-align: center;
}

.steps .box img{
  border-radius: 50%;
  border:1rem solid #fff;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

.steps .box h3{
  font-size: 3rem;
  color:var(--text-color);
  padding:1rem;
}

.loader-container{
  position: fixed;
  top:0; left:0;
  z-index: 10000;
  background:white;
  display: flex;
  align-items: center;
  justify-content: center;
  height:100%;
  width:100%;
}

.loader-container.fade-out{
  top:-120%;
}
.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  background: var(--body-color);
}

.about .image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

.about .image img {
  width: 100%;
}

.about .content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

.about .content span {
  font-family: 'Satisfy', cursive;
  font-size: 5rem;
  color: #27ae60;
}

.about .content .title {
  font-size: 3rem;
  padding-top: .5rem;
  color: var(--text-color);
}

.about .content p {
  padding: 1rem 0;
  line-height: 2;
  font-size: 2`.5rem;
  color: var(--input-color);
}

.about .content .icons-container {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.5rem;
}

.about .content .icons-container .icons {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20rem;
          flex: 1 1 20rem;
  border-radius: .5rem;
  background: #fff;
  -webkit-box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.05);
          box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.05);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  padding: 2rem;
}


.about .content .icons-container .icons:hover {
  background: green;
}
.about .content .icons-container .icons h3 {
  font-size: 1.7rem;
  color: var(--input-color);
}
.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: .7rem 1.8rem;
  font-size: 1.7rem;
  cursor: pointer;
  color: #fff;
  background: #27ae60;
  border-radius: .5rem;
}

.btn:hover {
  background: var(--input-color);
}

.footer {
  background: var(--body-color);
}

.footer .newsletter {
  text-align: center;
  margin-bottom: 2rem;
}

.footer .newsletter h3 {
  font-size: 3.5rem;
  color: var(--text-color);
  padding-bottom: 1rem;
}

.footer .newsletter form {
  max-width: 70rem;
  margin: 1rem auto;
  max-width: 70rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: .5rem;
  overflow: hidden;
}

.footer .newsletter form input[type="email"] {
  height: 100%;
  width: 100%;
  padding: 1rem 1.2rem;
  font-size: 1.6rem;
  color: #130f40;
  text-transform: none;
}

.footer .newsletter form input[type="submit"] {
  padding: 0 2rem;
  font-size: 1.6rem;
  color: #fff;
  background: #27ae60;
  cursor: pointer;
}

.footer .newsletter form input[type="submit"]:hover {
  background: #130f40;
}

.footer .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(25rem, 1fr)[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}

.footer .box-container .box h3 {
  font-size: 2rem;
  color: var(--text-color);
  padding: 1rem 0;
}

.footer .box-container .box p {
  font-size: 1.4rem;
  color: var(--text-color);
  padding: 0 0;
}

.footer .box-container .box a {
  display: block;
  font-size: 1.8rem;
  color: var(--text-color);
  padding: 1rem 0;
}

.footer .box-container .box a:hover {
  color: #27ae60;
}

.footer .box-container .box a:hover i {
  padding-right: 2rem;
}

.footer .box-container .box a i {
  padding-right: .5rem;
  color: var(--text-color);
}

.footer .box-container .box-1 h3 {
  font-size: 2rem;
  color: var(--text-color);
  padding: 1rem 0;
}

.footer .box-container .box-1 p {
  font-size: 1.4rem;
  color: var(--text-color);
  padding: 0 0;
}

.footer .box-container .box-1 a {
  display: block;
  font-size: 1.8rem;
  color: var(--text-color);
  padding: 1rem 0;
}

.footer .box-container .box-1 a:hover {
  color: #27ae60;
}

.footer .box-container .box-1 a:hover i {
  padding-right: 2rem;
}

.footer .box-container .box-1 a i {
  padding-right: .5rem;
  color: var(--text-color);
}


.footer .bottom {
  padding-top: 1rem;
  text-align: center;
}

.footer .bottom .share {
  margin: 1.5rem 0;
}

.footer .bottom .share a {
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  font-size: 2rem;
  border-radius: .5rem;
  margin: 0 .3rem;
  color: #fff;
  background: #27ae60;
}

.footer .bottom .share a:hover {
  background: #130f40;
}

.footer .bottom .credit {
  font-size: 2rem;
  color: #666;
  padding: 1rem;
}

.footer .bottom .credit span {
  color: #27ae60;
}


.banner .row-banner {
  background: url(https://www.oetker.co.uk/Recipe/Recipes/oetker.co.uk/uk-en/cakes/image-thumb__3619__RecipeDetailsLightBox/pink-lemonade-drip-cake.jpg) no-repeat;
  height: 40rem;
  background-size: cover;
  background-position: center;
  position: relative;

}

.banner .row-banner .content {
  position: absolute;
  top: 50%;
  left: 7%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.banner .row-banner .content span {
  font-family: 'Satisfy', cursive;
  font-size: 4rem;
  color: #27ae60;
  color: #130f40;
}

.banner .row-banner .content h3 {
  font-size: 6rem;
  color: red;
  text-transform: uppercase;
}

.banner .row-banner .content p {
  font-size: 2rem;
  padding-bottom: 1rem;
}

.banner .grid-banner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(30rem, 1fr)[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}

.banner .grid-banner .grid {
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
  height: 45rem;
}

.banner .grid-banner .grid:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.banner .grid-banner .grid img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.banner .grid-banner .grid .content {
  position: absolute;
  top: 2rem;
  padding: 0 2rem;
}

.banner .grid-banner .grid .content.center {
  text-align: center;
  width: 100%;
}

.banner .grid-banner .grid .content.center span {
  color: #666;
}

.banner .grid-banner .grid .content.center h3 {
  color: #130f40;
}

.banner .grid-banner .grid .content span {
  font-size: 2.5rem;
  color: #fff;
}

.banner .grid-banner .grid .content h3 {
  font-size: 3rem;
  color: #fff;
  padding-top: .5rem;
}
.popular .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(25rem, 1fr)[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}

.popular .box-container .box {
  border-radius: .5rem;
  position: relative;
  background: var(--popular-box-color);
  padding: 2rem;
  text-align: center;
  width: 100%;
  height: 100%;
}

.popular .box-container .box:hover{
  background: skyblue ;
}

.popular .box-container .box .fa-heart {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  font-size: 2.5rem;
  color: #666;
  cursor: pointer;
}

.popular .box-container .box .fa-heart:hover {
  color: #27ae60;
}

.popular .box-container .box .image {
  margin: 1rem 0;
}

.popular .box-container .box .image img {
  height: 15rem;
}

.popular .box-container .box .content h3 {
  font-size: 2rem;
  color: var(--text-color);
}

.popular .box-container .box .content .stars {
  padding: 1rem 0;
  font-size: 1.7rem;
}

.popular .box-container .box .content .stars i {
  color: var(--star-color);
}

.popular .box-container .box .content .stars span {
  color: #666;
}

.popular .box-container .box .content .price {
  font-size: 2rem;
  color: var(--input-color);
}

.popular .box-container .box .content .price span {
  font-size: 1.5rem;
  color: #666;
  text-decoration: line-through;
}

.container{
	position: relative;
	perspective: 1000px;
	justify-content: center;
	align-items: center;
	display: flex;

}


.container .slide-container .slide{
	border-radius: 5px;
	background: skyblue;
	box-shadow: 0 5px 10px var(--input-color);
	width: 600px;
	padding: 20px;
	margin: 10px;
	position: relative;
	transform-style: preserve-3d;
	height: 300px;
	animation: slide .4s linear;
}

.container .slide-container .slide:hover{
	background: pink;
}

.container .slide-container .slide p{
	font-size: 20px;
}

.container .slide-container .slide > *{
	animation: slideContent .2s linear .4s backwards;
}
@keyframes slide{
	0%{
		transform: rotateX(180deg);
	}
}

@keyframes slideContent{
	0%{
		opacity: 0;
		transform: scale(.5);
	}
}

.container .slide-container .slide .icon{
	position: absolute;
	top: 10px;
	right: 15px;
	font-size: 90px;
	color: #3498db;
}
.container .slide-container .use{
	display: flex;
	align-items: center;
} 

.container .slide-container .slide img{
	height: 140px;
	width: 140px;
	border-radius: 5px;
	object-fit: cover;
	margin-right: 10px;

}

.container .slide-container .use-info h3{
	color: var(--text-color-light);
	font-size: 30px;
}
.container .slide-container .use-info .stars i{
	color: var(--star-color);
	font-size: 25px;
}

.container .slide-container .use-info span{
	color: var(--first-color-second);
	font-size: 20px;
	padding-top: 15px;
	font-size: satisfy;
}

.container .slide-container{
	display: none;
}

.container .slide-container.active{
	display: block;
}

.container #prev,
.container #next{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	height: 50px;
	width: 50px;
	line-height: 50px;
	text-align: center;
	font-size: 15px ;
	background: skyblue;
	color: #333;
	cursor: poiner;
	border-radius: 50%;
	box-shadow: 0 5px 10px #3337;
}

.container #prev{
	left: 150px;
}

.container #next{
	right: 150px;
}

.container #prev:hover,
.container #next:hover{
	background: red;
	color: #fff;
}

@media(max-width: 1010px){
	nav{
		position: relative;
	}
	.navigation{
		height: 80px;
	}
	.fix-nav{
		height: 80px;
	}
	.menu{
		position: absolute;
		top: 110px;
		left: 0;
		background-color: #ffffff;
		border-bottom: 4px solid #0b9d8a;
		width: 100%;
		padding: 0;
		margin: 0;
		z-index: 102;
		flex-direction: column;
		display: none;
	}
	.fix-nav .menu{
		top: 80px ;
	}

	.menu li{
		width: 100%;
		padding: 0;
		margin: 0;
	}

	.navigation .menu li a{
		width: 100%;
		height: 50px;
		display: flex;
		align-items: center;
		margin: 0;
		padding: 25px;
		border: 1px solid rgba(0,0,0,0.05);
	}

	.sale-label{
		display: none ;
	}
	.toggle{
		display: block;
		font-size: 2rem;
		align-items: center;
		left: -20px;
		color: red;
	}

	.toggle :hover{
		font-size: 2.55rem;
	}

	.toggle i{
		font-size: 2rem;
		align-items: center;
		left: -20px;
		color: red;
	}

	.toggle i:hover{
		font-size: 2.7rem;
	}

	.navigation.active .menu{
		display: block;
	}


	.full-slider-box,
	.banner-box{
		height: 45vh;
	}

	.f-slider-text-1 span,
	.banner-text-1 span{
		font-size: 2.5rem;
	}
	.f-slider-text-2 span{
		font-size: 2.5rem;
	}

	.f-slider-text-1 strong,
	.banner-text-1 strong{
		font-size: 5rem;
		line-height: 40px;
	}
	.f-slider-text-2 strong{
		font-size: 5rem;
		line-height: 40px;
	}
	.f-slider-btn{
		font-size: 1.8rem;
		font-weight: 600;
	}
	.search-input{
		height: 60px;
	}

	.search-input input,
	.search-cancel{
		font-size: 2rem;
	}

	.sale-box{
		height: 200px;
	}
	.feature-box{
	height: 155px;
	width: 155px;
	margin: 0 20px;
	border-radius: 10px;
	overflow: hidden;
	}
	
	.container #prev{
	left: 100px;
	}

	.container #next{
	right: 100px;
	}
}


.order .icons-container .icons h3 {
  font-size: 2rem;
  color: #130f40;
  margin-top: .5rem;
}

.order form {
  background: var(--text-color-light);
  padding: 2rem;
  border-radius: .5rem;
}

.order form .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.order form .flex .inputBox {
  width: 49%;
  padding: .7rem 0;
}

.order form .flex span {
  font-size: 1.7rem;
  color: #666;
}

.order form .flex input, .order form .flex textarea {
  width: 100%;
  margin-top: .5rem;
  padding: 1rem 1.2rem;
  width: 100%;
  border-radius: .5rem;
  font-size: 1.6rem;
  text-transform: none;
  color: #130f40;
}

.order form .flex textarea {
  height: 20rem;
  resize: none;
}

.order form .flex .map {
  height: 100%;
  width: 100%;
  border-radius: .5rem;
}
